{% extends 'base.html' %} {% block title %}Edit Feedback{% endblock %} {% block
content %}
<h1 class="display-1">Edit Feedback</h1>
<p class="lead">Fill out form below to edit your feedback.</p>
<form action="/feedback/{{post.id}}/update" method="POST">
  {{ form.hidden_tag() }} {% for field in form %} {% if field.widget.input_type
  != 'hidden' %}
  <p>{{ field.label }} {{ field(class_="form-control") }}</p>
  <p><small>{% for error in field.errors %}{{ error }}{% endfor %}</small></p>
  {% endif %} {% endfor %}
  <p><small>Written by {{session['username']}}</small></p>
  <input type="submit" value="Post" class="btn btn-outline-secondary" />
</form>
{% endblock %}
